{% extends "base.html" %}
{% load static %}{% load i18n %}{% load charts_tags %}
{% block title %}kchart.io | Realtime Charts{% endblock %}

{% block content %}

<div class="container">
  <div class="dashhead">
    <div class="dashhead-titles">
      <h3 class="dashhead-subtitle">Realtime</h3>
      <h1 class="dashhead-title">Charts</h1>
    </div>

    <div class="dashhead-toolbar">
      <form method="get">
        <div class="input-with-icon dashhead-toolbar-item">
          <input type="text" value="{{ hour|date:'Ymd' }}" class="form-control" data-provide="datepicker" data-date-format="yyyymmdd" name="date">
          <span class="icon icon-calendar"></span>
        </div>
        <div class="dashhead-toolbar-item">
          <select class="form-control" name="hour">
            {% for i in 24|get_range %}
            <option value="{{ i }}" {% if i == hour.hour %}selected{% endif %}>{{ i|stringformat:"02d" }}:00</option>
            {% endfor %}
          </select>
        </div>
        <div class="btn-group dashhead-toolbar-item">
          <button type="submit" class="btn btn-primary-outline">Go</button>
        </div>
        <span class="dashhead-toolbar-divider hidden-xs"></span>
        <div class="btn-group dashhead-toolbar-item">
          <a class="btn btn-primary-outline" href="{% url 'charts:hourly-chart-detail' %}">Latest</a>
        </div>
      </form>
    </div>
  </div>

  {% if not object %}
  <div>
    <p>No chart data available for this date.</p>
  </div>
  {% else %}
  <div class="hr-divider">
    <ul class="nav nav-pills hr-divider-content hr-divider-nav" role="tablist">
      <li role="presentation" class="active"><a href="#kchart" aria-controls="kchart" role="tab" data-toggle="tab">overall</a></li>
      {% for hourly_chart in object.charts.all %}
      <li role="presentation"><a href="#{{ hourly_chart.chart.service.slug }}" aria-controls="{{ hourly_chart.chart.service.slug }}" role="tab" data-toggle="tab">{{ hourly_chart.chart.service.slug }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="tab-content">
    {% for hourly_chart in object|chart_list %}
    <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{% if forloop.first %}kchart{% else %}{{ hourly_chart.chart.service.slug }}{% endif %}">
      <div class="container">
        <div class="dashhead">
          <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">{{ hourly_chart.hour|date:'Y.m.d H' }}:00 KST</h6>
            <h3 class="dashhead-title">{% if forloop.first %}{{ hourly_chart.name }}{% else %}{{ hourly_chart.chart.name }}{% endif %}</h3>
          </div>
        </div>
        <div class="row">
          <table class="table table-hover">
            <thead>
              <tr>
                <td>Rank</td>
                {% if forloop.first %}<td>Score</td>{% endif %}
                <td>Song</td>
                <td>Album</td>
                <td>Artist(s)</td>
              </tr>
            </thead>
            <tbody>
              {% for entry in hourly_chart.entries.all|slice:':100' %}
              <tr>
                <td>
                  {{ entry.position }}
                  {% if not entry.prev_position %}
                  <small class="text-info">New!</span></small>
                  {% elif entry.position < entry.prev_position %}
                  <small class="text-success"><span class="icon icon-arrow-up"></span>{{ entry.prev_position|subtract:entry.position }}</small>
                  {% elif entry.position > entry.prev_position %}
                  <small class="text-danger"><span class="icon icon-arrow-down"></span>{{ entry.position|subtract:entry.prev_position }}</small>
                  {% else %}
                  <small class="text-muted"><span class="icon icon-swap"></span></small>
                  {% endif %}
                </td>
                {% if forloop.parentloop.first %}<td>{{ entry.score|floatformat:4 }}</td>{% endif %}
                <td><a href="{% url 'songs:song-detail' entry.song.pk %}">{{ entry.song.name }}</a></td>
                <td>{{ entry.song.album.name }}</td>
                <td>{% for artist in entry.song.artists.all %}{% if not forloop.first %}, {% endif %}{{ artist.name }}{% endfor %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

</div>

{% endblock content %}
